@import './variable.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body,html{
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    outline: none;
    overflow-x: hidden;
}
.App{
    background-color: $background;
    width: 100%;
    height: fit-content;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    
}
main{
    width: 90%;
    margin-inline: auto;
    z-index: 1;
}

.right-ellipse{
    overflow-x: hidden;
    position: absolute;
    right: -14rem;
    top: 32rem;
    width: 35rem;
    height: 35rem;
    background: #86CFD0;
    opacity: 0.5;
    filter: blur(77px);
    border-radius: 50%;
    z-index: 2;
}
.top-ellipse{
    position: absolute;
    top: -48rem;
    left: -16rem;
    width: 70rem;
    height: 70rem;
    background: #312964;
    opacity: 0.7;
    filter: blur(77.5px);
    border-radius: 50%;
    z-index: 2;
}



@media screen and (min-width:$desktop) {
   main{
    width: 80%;
   }
}