@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
$background:#010922;;
$white: #EBEBEB;
$lightBlue:#AED4DB;
$darkBlue:#312964;

$mobile:375px;
$small-tablet:744px;
$tablet:1024px;
$desktop:1440px;



@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($width){
                
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 138%;
                text-align: center;
                text-transform: uppercase;
                color: #EBEBEB;
                background: #312964;
                border-radius: 30px;
                padding: 1.8rem;
                
                width: $width;
                border: none;
}