@import '../../sass/variable.scss';

.ready-container {
    margin-top: 5.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-family: 'Roboto';
        @include font(normal, 400, 2rem, 138%);
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #D9D9D9;
    }

    .ready-title {
        @include font(normal, 700, 3.6rem, 110%);
        text-align: center;
        margin: 1.8rem 0 1rem 0;
        color: $white;
        width: 90%;

        span {
            @extend .ready-title;
            text-transform: none;
            letter-spacing: normal;
            color: $lightBlue;
        }
    }

    button {
        @include button(60%);
        margin-top: 3rem;

    }
}

@media screen and (min-width:$small-tablet) {
    .ready-container {
        .ready-title {
            font-size: 6.4rem;
        }

        button {
            width: 25%;
        }
    }

}

@media screen and (min-width:$tablet) {
    .ready-container {
        .ready-title {
            width: 100%;

        }
    }
}

@media screen and (min-width:$desktop) {
    .ready-container {
        button {
            width: 15%;
        }
    }
}