@import '../../sass/variable.scss';

header {
    width: 90%;
    margin-inline: auto;
    @include center();
    padding-top: 2.6rem;

    .header-container {
        display: flex;
        justify-content: space-between;
        gap: 22rem;
        align-items: center;
        @include widtheight(100%, 5rem);

        h1 {
            @include font(normal, 600, 2rem, 138%);
            text-transform: uppercase;
            color: $white;
            z-index: 999;
        }

        .lines {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                color: $white;

                &:nth-of-type(2) {
                    width: 1.7rem;
                    align-self: center;
                }
            }
        }

        nav {
            @include font(normal, 400, 2rem, 138%);
            color: $white;
            display: none;

            ul {
                display: flex;
                align-items: center;
                gap: 6rem;
                list-style-type: none;

                li {
                    z-index: 999;

                    &:last-of-type {
                        @include center();
                        gap: 0.8rem;
                        background: #312964;
                        border-radius: 20px;
                        @include widtheight(12rem, 4rem);

                        span {
                            @include widtheight(1rem, 1rem);
                            border-radius: 50%;
                            background: #8F8FDB;
                            position: relative;
                            z-index: 9999;
                            filter: blur(1px);

                            &:before {
                                content: '';
                                @include widtheight(2rem, 2rem);
                                position: absolute;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                background: #010922;
                                filter: blur(7px);
                                transform: translate(-50%, -50%);
                                z-index: 2;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width:$small-tablet) {
    header {
        .header-container {
            gap: 12rem;

            .lines {
                display: none;
            }

            nav {
                display: block;
            }
        }
    }
}


@media screen and (min-width:$desktop) {
    header {
        width: 80%;
    }
}