@import '../../sass/variable.scss';

.first-section {
    margin-top: 4rem;
    width: 100%;
    flex-direction: column;
    @include center();
    gap: 2rem;

    .right-side {
        width: 100%;
        padding: 5rem 0 2rem 0;
        @include center();

        img {
            width: 50%;
            height: 18.6rem;
            background: linear-gradient(0deg, rgba(49, 41, 100, 0.2), rgba(49, 41, 100, 0.2));
            border-radius: 5px;
            z-index: 999;
        }
    }

    .left-side {

        h2 {
            @include font(normal, 700, 6.4rem, 110%);
            text-align: center;
            color: $white;
            z-index: 999;
            position: relative;

            span {
                color: $lightBlue;
            }
        }

        p {
            font-family: 'Roboto';
            @include font(normal, 400, 2rem, 138%);
            text-align: center;
            text-transform: lowercase;
            color: $white;
            margin: 3.4rem 1rem 3.4rem 1rem;

        }

        .buttons {
            @include center();
            gap: 2rem;
            width: 100%;

            button {
                @include widtheight(50%, 6rem);
                @include font(normal, 600, 2rem, 138%);
                text-align: center;
                text-transform: uppercase;
                color: $white;
                border-radius: 30px;
                border: none;

                &:first-of-type {
                    background-color: $darkBlue;
                }

                &:last-of-type {
                    background-color: transparent;
                    border: 1px solid #8AD1D2;

                }
            }
        }
    }
}

@media screen and (min-width:$small-tablet) {
    .first-section {
        flex-direction: row-reverse;
        gap: 4.6rem;

        .right-side {
            width: 50%;
            padding: 0;

            img {
                background: transparent;
                @include widtheight(100%, 26rem);
            }
        }

        .left-side {
            width: 45%;

            h2 {
                text-align: start;
            }

            p {
                text-align: justify;
                margin-inline: 0;
            }
        }
    }
}

@media screen and (min-width:$tablet) {
    .first-section {
        .right-side {
            img {
                height: 47rem;
            }
        }

        .left-side {
            p {
                width: 80%;
            }
        }
    }
}